.monospace {font-family: "monospace", Monaco}

  {
    margin-right: 4cm;
}
.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }


p.one:hover + img{
   display: block;
}

p.two:hover img{ 
   display: block;
}

a {font-family: "monospace", Monaco}

a:link {
	color: pink; 
	text-decoration: none; 
	}

a:visited {
	color: pink; 
	text-decoration: line-through;
	}

a:hover {
	color: pink; 
	background-color: none;
	text-decoration: none;
	}

a:active { 
	color: #99ccff; 
	text-decoration: none; }

img {
	margin: 0;
	border: none;
	padding: 0; }

.red {
    color: #ff9933;
    font-family: "monospace", Monaco;
    text-decoration: none;}
.red a:{
	color: #F00;
}

.red a:link {
	color: #ff9933; 
	text-decoration: none; }

.red a:visited {
	color: #ff9933; }

.red a:hover {
	color: pink; 
	background-color: none;
	text-decoration: none; }

.red a:active { 
	color: #F00; 
	text-decoration: none; }	

.red-hi {
	color: pink;
	background-color: #F00;
	text-decoration: none;}

.red-hi a:link {
	color: #FF0;
	background-color: #F00; 
	text-decoration: none;}

.red-hi a:visited {
	color: ghostwhite;
    background-color: #333333; 
	text-decoration: none;}

.red-hi a:hover {
	color: #FFF;
	background-color: #333333;
	text-decoration: none;}

.red-hi a:active { 
	color: #FFF; 
	text-decoration: none;}
	
	
	
	
// event

.event {
	color: yellow; }

.event a:link {
	color: yellow; }

.event a:visited {
	color: darkseagreen; }

.event a:hover {
	color: pink; 
	background-color: yellow;}

.event a:active { 
	color: #FFF; }	


.green {
    font-family: "monospace", Monaco;
	color: darkseagreen;
	background-color: none;
	text-decoration: none;}

.green a:link {
	color: darkseagreen;
	background-color: none; 
	text-decoration: none;}

.green a:visited {
	color: darkseagreen;}

.green a:hover {
	color: darkseagreen;
	background-color: none;
	text-decoration: none;}

.green a:active { 
	color: darkseagreen; 
	text-decoration: none;}

.blue {
    font-family: "monospace", Monaco;
	color: #ffff99; 
	text-decoration: none;}

.blue a:link {
    font-family: "monospace", Monaco;
	color: #ffff99; 
	text-decoration: none;}

.blue a:visited {
    font-family: "monospace", Monaco;
	color: #ffff99; }

.blue a:hover {
	color: #ffff99; 
	text-decoration: none; }

.blue a:active { 
	color: #ffff99; 
	text-decoration: none; }	

