p.monospace {font-family: "monospace", courier new}

p  {
    margin-right: 4cm;
}

p.one:hover + img{
   display: block;
}

p.two:hover img{ 
   display: block;
}

a {font-family: "monospace", courier new}

a:link {
	color: pink; 
	text-decoration: none; 
	}

a:visited {
	color: white; 
	text-decoration: line-through;
	}

a:hover {
	color: red; 
	background-color: #00F;
	text-decoration: none;
	}

a:active { 
	color: #99ccff; 
	text-decoration: none; }

img {
	margin: 0;
	border: none;
	padding: 0; }

.red {
	color: #F00; }

.red a:link {
	color: #ff9933; 
	text-decoration: none; }

.red a:visited {
	color: #ff9933; }

.red a:hover {
	color: pink; 
	background-color: #ff9933;
	text-decoration: none; }

.red a:active { 
	color: #F00; 
	text-decoration: none; }	

.red-hi {
	color: pink;
	background-color: #F00;
	text-decoration: none;}

.red-hi a:link {
	color: #FF0;
	background-color: #F00; 
	text-decoration: none;}

.red-hi a:visited {
	color: ghostwhite;
    background-color: #333333; 
	text-decoration: none;}

.red-hi a:hover {
	color: #FFF;
	background-color: #333333;
	text-decoration: none;}

.red-hi a:active { 
	color: #FFF; 
	text-decoration: none;}
	
	
	
	
// event

.event {
	color: yellow; }

.event a:link {
	color: yellow; }

.event a:visited {
	color: darkseagreen; }

.event a:hover {
	color: pink; 
	background-color: yellow;}

.event a:active { 
	color: #FFF; }	


// green 

.green {
	color: darkseagreen;
	background-color: none;
	text-decoration: none;}

.green a:link {
	color: darkseagreen;
	background-color: none; 
	text-decoration: none;}

.green a:visited {
	color: pink;}

.green a:hover {
	color: pink;
	background-color: darkseagreen;
	text-decoration: none;}

.green a:active { 
	color: #FFF; 
	text-decoration: none;}

.blu {
	color: #99ccff; }

.blue a:link {
	color: #99ccff; 
	text-decoration: none; }

.blu a:visited {
	color: 99ccff; }

.blu a:hover {
	color: #99ccff; 
	text-decoration: none; }

.blu a:active { 
	color: #99ccff; 
	text-decoration: none; }	

span.a {
  display: inline; /* the default for span */
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;  
  background-color: yellow; 
}

span.b {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;    
  background-color: yellow; 
}

span.c {
  display: block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;    
  background-color: yellow; 
}